<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	</head>
	<body>
		<nav>
			<ul>
				<li>
					home
					{# <a href="{{ path('app_home') }}">Home</a> #}
				</li>
				{% if app.user %}
					<li>
						<a href="{{ path('app_dashboard') }}">Dashboard</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Logout</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login') }}">Login</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
